<!DOCTYPE html> 
<html lang="de">
<head>
    <title>{% block title %}Framework{% endblock %}</title>
    {{ include('parts/head.twig') }}
</head>

<body>
<div class="ui container">

    {{ include('parts/nav.twig') }}
    <div class="ui container">
        {% if messages %}
            {{ include('parts/messages.twig') }}
        {% endif %}

        {% block content %}
            Content Block
        {% endblock %}
    </div>
    {{ include('parts/foot.twig') }}
</div>
</body>
</html>