{% extends "layout.twig" %}

{% block title %}Test Title{% endblock %}

{% block content %}
    {% for test in tests %}
        <div>{{ test }}</div>
    {% endfor %}

    {% if id %}
        <h2>URL Paramter is: {{ id }}</h2>
    {% endif %}
{% endblock %}
